@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
   Nuestros profesionales acumulan experiencia en el sector del desarrollo del software en Costa Rica y otros países, empresa líder por más de 5 años. 
   Esta experiencia adquirida nos ha permitido integrar un equipo profesional comprometido en satisfacer las expectativas de nuestros clientes desarrollando
   software de gran calidad y cumpliendo los estándares de programación existentes y solicitados por el cliente. Hemos logrado ser una empresa eficiente,
   que emplea sus utilidades para crecer y fortalecerse, mejorando la calidad de los servicios que ofrece y buscando siempre las mejores técnicas y sistemas
   de desarrollo. Con la dedicación absoluta de los socios, ofrecemos soluciones rápidas y claras en todos los proyectos.
</p>
<h1>Misión</h1>
<p>
    Proporcionar las tecnologías más innovadoras a medida de las necesidades empresariales, con el objetivo de incrementar su competitividad y productividad.
    Para ello implementamos soluciones prácticas adaptadas a sus necesidades y desarrollamos nuevas soluciones creativas. Nuestra base parte del aprovechamiento
    de las nuevas tácticas de implementación de software.
</p>
<h1>Visión</h1>    
<p>
   Estar comprometidos con los problemas de nuestros clientes de forma transparente y eficaz para convertirnos en su socio de confianza. 
   En nuestra visión queremos ser una empresa de referencia, que camina con el cambio de la tecnología y la sociedad, dando a conocer las posibilidades de los
   estándares y tecnologías libres. Esta labor se debe desempeñar de forma ética y satisfactoria para nosotros, nuestros clientes y el resto de la sociedad.
</p>
