@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Costa Rica<br />
    Heredia, Barva<br />
    <abbr title="Phone">P:</abbr>
    2292-6090
</address>

<address>
    <strong>Comentarios(Haznos saber tu opinión):</strong>   <a href="mailto:empresa@example.com">homeempresa@example.com</a><br />
    <strong>Soporte(Reporta Fallas):</strong> <a href="mailto:soporteempresa@example.com">suporteempresa@example.com</a>
</address>