@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Costa Rica<br />
    Heredia, Barba<br />
    <abbr title="Phone">P:</abbr>
    2292-6090
</address>

<address>
    <strong>Comentarios:</strong>   <a href="mailto:asodell@example.com">homeasodell@example.com</a><br />
    <strong>Soporte:</strong> <a href="mailto:soporteasodell@example.com">suporteasodell@example.com</a>
</address>