
<div class="jumbotron">
    <h1 class="text-center">Tienda Virtual</h1>
    
    <div align="center"><img src="~/images/logo.png"></div><br />

    <div></div>
    @if (User.IsInRole("admin"))
    {
        <p><a href="http://localhost:1758/PageAdmin/Index" class="btn btn-primary btn-block">Opciones de Administrador &raquo;</a></p>
    }
</div>

