
<div class="jumbotron">
    <h1 class="text-center">Tienda Virtual</h1>
    <div align="center"><img src="~/images/logo.png"></div><br />

    <div></div>
    @if (User.IsInRole("admin"))
    {
        <p><a href="http://localhost:1758/PageAdmin/Index" class="btn btn-primary btn-block">Opciones de Administrador &raquo;</a></p>
    }
     <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }
    </style>

    <div class="container">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="http://www.thenashvillerevu.com/content/wp-content/uploads/2010/12/shopping-cart.jpg" alt="Chania" width="460" height="345">
                </div>

                <div class="item">
                    <img src="http://thestudyabroadblog.com/wp-content/uploads/2012/02/Top-10-electronics-Study-Abroad.png" alt="" width="360" height="245">
                </div>

                <div class="item">
                    <img src="http://jeparafurniture.org/wp-content/themes/directorypress/thumbs/teak-garden-furniture.jpg" alt="" width="360" height="245">
                </div>

                <div class="item">
                    <img src="http://g02.a.alicdn.com/kf/HTB1bBxZHFXXXXb1apXXq6xXFXXXH/Universal-128-in1-Screwdriver-set-combination-iphone-4s-5-laptops-auto-car-mobile-phone-mini-PC.jpg" alt="" width="360" height="245">
                </div>

                <div class="item">
                    <img src="http://www.iotp.co/images/products/Home-appliances.jpg" alt="Flower" width="360" height="245">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>