
<div class="jumbotron">
    <h1 class="text-center">Bienvenido</h1>
    
    <div></div>
    @if (User.IsInRole("admin"))
    {
        <p><a href="http://localhost:1758/PageAdmin/Index" class="btn btn-primary btn-block">Opciones de Administrador &raquo;</a></p>
    }
    @if (User.IsInRole("cliente"))
    {
        <p><a href="http://localhost:1758/Account/Login" class="btn btn-primary btn-block">Ingresar como Asociado &raquo;</a></p>
    }
    else
    {
        <p><a href="http://asp.net" class="btn btn-primary btn-block">Ingresar como Invitado &raquo;</a></p>
    }
</div>

