﻿@model TiendaVirtual.Models.tb_factura
@{
    ViewBag.Title = "Detalle";
}
<h2>Details</h2>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_factura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.costo_total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>
    </dl>
</div>
<table class="table table-striped table-hover">
    <tr>
        <th>
            Producto
        </th>
        <th>
            Cantidad
        </th>
    </tr>
    @foreach (var item in Model.tb_detalle)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tb_producto.nombre_prod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_factura}) |
    @Html.ActionLink("Back to List", "Index")
</p>
