﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tienda Virtual </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Barra de Navegacion -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="~/Home/Index">
                <img style="height: 30px;"
                     src="~/images/logo.png"  /><br />
            </a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-home"></span> Sitio<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>   
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                </li>
                <!-- Categorias de Tecnologia con cada uno de sus elementos-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tecnología<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/tb_producto/Index?busqueda=Celulares">Celulares</a></li>
                        <li><a href="~/tb_producto/Index?busqueda=Tablets">Tablets</a></li>
                        <li><a href="~/tb_producto/Index?busqueda=Video">Video Juegos</a></li>
                    </ul>
                </li>
                <!-- Categorias de Hogar con cada uno de sus elementos-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hogar<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/tb_producto/Index?busqueda=Muebles">Muebles</a></li>
                        <li><a href="~/tb_producto/Index?busqueda=Electrodomesticos">Electrodomésticos</a></li>
                    </ul>
                </li>
                <!-- Categorias de Automovil con cada uno de sus elementos-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Automóvil<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/tb_producto/Index?busqueda=Repuestos">Repuestos</a></li>
                        <li><a href="~/tb_producto/Index?busqueda=Herramientas">Herramientas</a></li>
                        <li><a href="~/tb_producto/Index?busqueda=Accesorios">Accesorios </a></li>
                    </ul>
                </li>
                <!-- Categorias de Administrador con acceso al menu principal-->
                @if (User.IsInRole("admin"))
                {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu Administrador<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/PageAdmin/">Opciones de Administrador</a></li>
                    </ul>
                </li>
                }
            </ul>
            <div> </div>
            <!--Opcion de Login-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                    <span class="glyphicon glyphicon-log-in"></span> Cuenta <b class="caret">&nbsp;</b></a>
                    <ul class="dropdown-menu">
                        <li>  @Html.Partial("_LoginPartial")</li>
                    </ul>
                </li>
            </ul>
            <!--Opcion de Carrito-->
            <ul class="nav navbar-nav navbar-right">
                <li class="btn-link">
                    @{Html.RenderAction("Carrito", "ShoppingCart");}
                   <li><a href="~/tb_carrito/Index?usuario=@User.Identity.Name"></a></li>
                </li>
            </ul>
            <p>&nbsp;</p>
        </div>
    </div>
    <!-- Fin Barra de Navegacion -->
    <!-- Cuerpo de la Pagina -->
    <div class="container body-content">
        @RenderBody()
    <!-- Fin de Cuerpo de la Pagina -->
        <hr />
        <!-- Footer -->
        <footer class="text-center">
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            Diseño y Desarrollo por InfoSoluciones - @DateTime.Now.Year
                        </div>
                        <div class="col-lg-4">
                            <img class="center-block" style="height: 45px;" src="~/images/InfoSoluciones_3.JPG" />
                        </div>
                        <div class="col-lg-4 copyright">
                            Copyright &copy; AsoDell
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Scripts Necesarios -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>