@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="alert alert-danger">
    <strong>Error!</strong> El usuario no es es un asociado registrado de su Empresa
</div>

<h4 class="text-danger">Contactar a su Empresa para más información</h4>


