@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="alert alert-danger">
    <strong>Error!</strong> El usuario no es es un cliente pre-registrado en esta pagina
</div>

<h4 class="text-danger">Solicite ser incluido como futuro cliente para poder crear su cuenta</h4>


