﻿@model TiendaVirtual.Models.tb_producto

@{
    ViewBag.Title = "Detalle de Producto";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".AddLink").click(function () {
            // Get the id from the link
            var recordToAdd = $(this).attr("data-id");
            if (recordToAdd != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/AddToCart", { "id": recordToAdd },
                    function (data) {
                        $('.cart-count').text(data.CartCount);
                    });
            }
        });
    });
</script>
<!-- Button trigger modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div aria-hidden="true" class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Se agrego un producto al carrito</strong> Para procesar orden <a href="#" class="alert-link">dé click aqui</a>.
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Confirmar orden.</h4>
            </div>
            <div class="modal-body">
                <p>¿Desea procesar compra o seguir comprando?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Continuar</button>
                <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">Procesar compra</button>
            </div>
        </div>
    </div>
</div>
<h2>Detalle</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <img height="200" src="@Html.DisplayFor(model => model.imagen_url)" />
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Nombre del Producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_prod)
        </dd>

        <dt>
            Costo del Producto ($)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo)
        </dd>

        <dt>
            Cantidad en Bodega
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            Breve Descripcion del Producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_prod)
        </dd>

        <dt>
            Categoria a la cual pertenece
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria.descripcion)
        </dd>

        <dt>
            Estado del Producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_estado.descripcion)
        </dd>

    </dl>
</div>
<p>
    <a href="#" class="AddLink"
       data-id="@Model.id_producto" data-toggle="modal" data-target="#myModal">
        Agregar al carrito
    </a>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.id_producto})

    }
    @Html.ActionLink("Ir atras <-", "Index")
</p>
