﻿@model IEnumerable<TiendaVirtual.Models.tb_producto>

@{
    ViewBag.Title = "Listado de Productos";
}
<div class="jumbotron">
    <h2>Listado de Productos</h2>
</div>

<p>
    @if (User.IsInRole("admin"))
    {
    @Html.ActionLink("Crear un nuevo Registro", "Create")
    }
</p>
@*-----------------------------------------Barra de busqueda-------------------------------------------*@
@*<div class="bs-docs-section">
    <div class="row">
        @using (Html.BeginForm("Index", "tb_producto", FormMethod.Get))
        {

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Find: </span>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-info btn-sm" value="busqueda" />
                    </span>
                </div>
            </div>
        }
    </div>
</div>*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre del producto")
        </th>
        <th>
            @Html.DisplayName("Costo")
        </th>
        <th>
            @Html.DisplayName("Cantidad")
        </th>
        <th>
            @Html.DisplayName("Descripcion")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_prod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion_prod)
        </td>
        <td>
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Editar", "Edit", new { id = item.id_producto })
            }
            @if (User.IsInRole("admin") || User.IsInRole("cliente"))
            {
                @Html.ActionLink("Ver Producto", "Details", new { id = item.id_producto })
            }
        </td>

    </tr>
}

</table>
