@{
    ViewBag.Title = "Página de Administrador";
}

<h3>Página de Administración de Módulos</h3>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h4>Opciones Usuarios</h4>
            <p><a href="http://localhost:1758/AspNetUsers/Index" class="btn btn-primary btn-block">Usuarios &raquo;</a></p>
            <p><a href="http://localhost:1758/AspNetRoles/Index" class="btn btn-primary btn-block">Tipos Roles &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>Opciones Asociados y personas</h4>
            <p><a href="http://localhost:1758/tb_asociado/Index" class="btn btn-primary btn-block">Asociados &raquo;</a></p>
            <p><a href="http://localhost:1758/tb_persona/Index" class="btn btn-primary btn-block">Personas &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>Opciones Productos</h4>
            <p><a href="http://localhost:1758/tb_producto/Index" class="btn btn-primary btn-block">Producto &raquo;</a></p>
            <p><a href="http://localhost:1758/tb_categoria/Index" class="btn btn-primary btn-block">Categorias &raquo;</a></p>
            
            <div class="container">
                <!-- Trigger the modal with a button -->
                <button @Html.Action("cargar_montos", "PageAdmin") class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">    Depositos en Ahorros a los Asociados    </button>
                <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Operacion Exitosa</h4>
                                </div>
                                    <div class="modal-body">
                                    <p>Se han actualizado exitosamente los monto de ahorro.</p>
                                    </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>

        </div>
    </div>
</div>