@{
    ViewBag.Title = "Pagina de Administrador";
}

<div class="jumbotron">
    <h1>Pagina de Administracion</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Usuarios del Sistema</h2>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Usuarios &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Listado de Personas y Asociados</h2>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Asociados &raquo;</a></p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Personas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Productos en Venta</h2>
        <p><a href=~/Controllers/tb_productoController.cs class="btn btn-primary btn-lg">Producto &raquo;</a></p>
        <p><a href=~/Controllers/tb_productoCategorias.cs class="btn btn-primary btn-lg">Ventas &raquo;</a></p>
    </div>
</div>