@{
    ViewBag.Title = "Pagina de Administrador";
}

<h3>Pagina de Administracion</h3>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h4>Opciones Usuarios</h4>
            <p><a href="http://localhost:1758/AspNetUsers/Index" class="btn btn-primary btn-block">Usuarios &raquo;</a></p>
            <p><a href="http://localhost:1758/AspNetUsers/Index" class="btn btn-primary btn-block">Roles &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>Opciones Asociados y personas</h4>
            <p><a href="http://localhost:1758/tb_asociado/Index" class="btn btn-primary btn-block">Asociados &raquo;</a></p>
            <p><a href="http://localhost:1758/tb_persona/Index" class="btn btn-primary btn-block">Personas &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>Opciones Productos</h4>
            <p><a href="http://localhost:1758/tb_asociado/Index" class="btn btn-primary btn-block">Producto &raquo;</a></p>
            <p><a href="http://localhost:1758/tb_categoria/Index" class="btn btn-primary btn-block">Categoria &raquo;</a></p>
        </div>
    </div>    
</div>

