@model int
@{
    ViewBag.Title = "Compra Realizada";
}
<h2>Compra Realizada</h2>
<p>Gracias por su compra, su numero de compra es: @Model</p>
<p>
    Que tal si sigues comprando artículos en nuestra página
    @Html.ActionLink("Tienda","Index", "Home")
</p>

