﻿@model TiendaVirtual.Models.tb_asociado

@{
    ViewBag.Title = "Saldo Disponible";
}

<div class="col-lg-10">
  <div class="well bs-component">
    @using (Html.BeginForm(new { @class = "form-horizontal" }))
    {
       <h2>Address And Payment</h2>
        <fieldset>
            <legend>Shipping Information</legend>


            <div class="form-group">
                @Html.LabelFor(model => model.monto_ahorro, htmlAttributes: new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.monto_ahorro, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            
            <br>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-8">
                    <button type="submit" class="btn btn-primary">Submit Order &raquo;</button>
                </div>
            </div>
        </fieldset>
    }
  </div>
</div>
